
nav{
  display:flex;
  justify-content: space-around;
}

nav a{
  flex:1;
  text-align: center;
}


.stats{
  font-size: 1.2em;
  padding-left: 25px;
}

.list{
  display:flex;
  align-content: space-around;
}

.list div {
  padding:5px;
  background: #eee;
}

div.selected {
  background: #444;
  color:white;
}
